.body{
    background-color: #859481;
}


#top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    color: black;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;

}


#bottom{
    position: fixed;
    bottom: 0px;
    height: 40px;
    left: 0px;
    width: 100%;
    font-size: 15px;
    color: white;
    background-color: #666666;
    padding-top: 60px;
    text-align: center;
    border-top: 6px solid #4aaaa5;
}


.box {
    float: left;
    width:24.6%;
    padding: 50px;
}


.name {
    background-color: #4aaaa5;
    margin: 0%;
    width: 15%;
    height: 40px;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    text-align: center;
    color: #ffffff;
    margin-left: 30%;
    display: fixed;
   
}


.nav {
    float: right;
    margin-right: 20%;
    padding: 50px;
}
.p {
    background-color: #666666;
  
}


.about {
    background-color: #ffffff;
    color: #777777;
    padding: 20px;
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 30%;
    position: fixed;
    width: 960px;
    height:600px;
    top: 130px;
    left: 0%;   
}


img {
    float: left;
    height: 190px;
    width: 200px;
    margin: 8px;
    overflow: hidden;
}

